package-db: /Users/jdt/Code/Haskell/kevin/cabal-dev/packages-7.4.1.conf
user-install: False
local-repo: /Users/jdt/Code/Haskell/kevin/cabal-dev/packages
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /Users/jdt/.cabal/packages
world-file: /Users/jdt/.cabal/world
flags: --ghc-options='-O2 -threaded'
documentation: True
build-summary: /Users/jdt/Code/Haskell/kevin/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /Users/jdt/Code/Haskell/kevin/cabal-dev/
install-dirs global
  prefix: /Users/jdt/Code/Haskell/kevin/cabal-dev/